body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', sans-serif;
}
h1, h2 {
    margin-bottom: 20px;
}

.forgot-password {
    display: inline-block;
    padding: 12px;
    background-color: #5a67d8; /* Button color */
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none; /* Remove underline */
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Space above the link */
  }
  .forgot-password:hover {
    background-color: #434190; /* Darker shade on hover */
  }
